@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Raw(TempData["msg"])

<body onload="window.open('../dboard');">

	<button type="submit" class="btn btn-default">H o m e</button>



</body>

